body {
  height: 100vh;
  background-image: url("https://source.unsplash.com/1600x900/?landscape"),
    url("https://source.unsplash.com/1600x900/?landscape");
  width: 110%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: auto;
}
code {
  font-size: large;
  margin-right: 3.5em;
}
.weather {
  color: white;
  border-radius: 30px;
  padding: 2em 1.5em;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
}
.innerWeather {
  display: flex;
}
.description {
  margin: auto 0.5em;
}
.sub {
  padding-left: 4rem;
  padding-top: 1.5rem;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
.sub-main {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  line-height: 2em;
  font-size: 1.1em;
  margin-bottom: 2rem;
}
.sub-data {
  text-align: end;
}
.city,
.temp,
.sub-heading {
  font-weight: 300;
}
.temp {
  margin-bottom: 0;
}
.description,
.humidity,
.feelsLike {
  font-weight: 400;
}
button {
  padding-bottom: 5px;
  border: none;
  border-radius: 50%;
  height: 2.7em;
  width: 2.7em;
  font-size: 130%;
  margin: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  transition:0.15s;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition:0.15s;
}
.searchBar {
  width: 80%;
  outline: none;
  border: none;
  padding: 0.9em 2em;
  border-radius: 40px;
  color: white;
  text-transform: capitalize;
  margin: 2em;
  margin-right: 0em;
  background-color: rgba(0, 0, 0, 0.7);
  transition:0.15s;
}
.searchBar:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition:0.15s;
}
.searchBar::placeholder {
  color: rgba(256, 256, 256, 0.8);
  font-size: larger;
}
.footer {
  display: flex;
}
